@font-face {
    font-family: 'MaPolice';
    /* src: url('/fonts/KamishirasawaSansTifinagh-lxWWD.ttf') format('truetype'); */
    src: url('/fonts/JetBrainsMonoNL-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    color: white;
    background-color: rgb(25, 25, 25);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'MaPolice', sans-serif; 
    font-size: 15px;   
}

button[type=submit] {
    font-family: 'MaPolice', sans-serif;
    font-size: 15px;
}

h1,
h2,
h3 {
    text-align: center;
}

.index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

#welcome {
    margin-right: auto;
}

.competence {
    flex-direction: row;
    gap: 10px;
    max-width: 800px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.competence-logo {
    width: 60px;
    height: 60px;
}

.competence-desc {
    margin-left: auto;
    max-width: 500px;
    text-align: right;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 2px 1px rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.container::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.container::after {
  content: '';
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}

.header {
    position: fixed;
    flex-direction: row;
    justify-content: space-around;
    left: auto;
    right: auto;
    top: 0;
    max-width: 1000px;
    width: 80%;
    border-radius: 5px;
    padding: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer {
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    margin: 0;
    text-align: center;
}

#photo {
    max-width: 250px;
    max-height: 250px;
    border-radius: 8px;
}

.skill-container {
    flex-wrap: wrap;
    width: 60%;
    gap: 20px;
}

.skill {
    width: 25%;
    padding: 3px;
    text-align: center;
    display: inline-block;
    margin: 1%;
    /* box-shadow: 8px 4px 4px rgb(69, 88, 208); */
}

main {
    min-height: calc(100vh - 40px);
}

a, button {
    padding: 5px;
    border: none;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    transition: all 0.5s ease;
    transform: scale(1);
}

button {
    background-color: rgb(16, 34, 123);
    cursor: pointer;
}

a:hover, button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    /* transform: scale(1.5) perspective(1px) */
}

.left {
    justify-content: left;
    margin-left: 20px;
}